<!--
  Step 1: This page must allow the user to create a new resource.
-->
<div class="text-center upload-div">
  <a class="close-upload-form"><i class="fa fa-times" style="margin-left: 90%;" aria-hidden="true"></i></a>
  <!-- form starts -->
  <form class="form-upload" method="post" action="/videos" encType="multipart/form-data">
    <img class="mb-4" src="/images/upload.png" alt="upload image picture" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Uploading...</h1>
    <!-- input email -->
    <input type="title" name="title" id="inputEmail" class="form-control mb-3" placeholder="Video Title" required autofocus>
    <!-- description -->
    <textarea type="text" name="description" id="description" class="mb-3 form-control" placeholder="Video Description" required></textarea>
    <!-- file upload -->
    <input type="file" id="uploadFile" name="fileUpload" class="form-control mb-3" accept=".mp4" required>
    <!-- checkboxes -->
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="status" value="public"> Make Video Public
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Up-Load</button>
  </form>
</div>