<%- include ('../partials/header') %>

<video  class="landingVideo" loop autoplay>
  <source src="videos/coverVideo.mp4"> 
</video>

<header class="home-cta">
  <h1>Vloggins!</h1>
  <br>
  <a href="/videos"><button class="btn btn-secondary btn-lg" style="background-color: rgba(0, 0, 0, 0.5);">View Vlogs.</button></a>
</header>

<%- include ('../partials/footer') %>
